@font-face {
    font-family: 'Perandory';
    src: url(PerandorySemiCondensed.otf);
}

@font-face {
    font-family: 'Sloop';
    src: url(Sloop-ScriptThree.ttf);
}
html,
body,
#root {
    height: 100vh;
    margin: 0;
}

.resume {
    background-color: #023020;
    height: fit-content;
    padding: 20px;
}

.resume-body {
    height: fit-content;
    background-color: #ffffff;
    border-radius: 20px;
    border: 5px solid #FFE9EB;
    padding: 10px;
}

.resume-main
{
    height: fit-content;
}

.experience-list, .education-list {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-content: flex-start;
}

.experience-list > * {
    flex: 0 1 300px;
}
.education-list > * {
    flex: 0 1 300px;
}

.experience-container, .education-container, .experience-button
{
    border-radius: 20px;
}

.experience-container, .experience-button
{
    border: 5px solid #023020;
    background-color: #FFE9EB;
    padding: 20px;
}

.experience-button
{
    animation: horizontal-shaking 0.4s infinite;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}

.experience-button:hover{
    animation: horizontal-shaking 0.2s infinite;
}

.education-container {
    border: 5px solid #FFE9EB;
    background-color: #023020;
    padding: 20px;
}

#role, #studyProgram
{
    font-size: 30px;
}

#company, #role, #ex-endDate, #ex-startDate
{
    font-family: Perandory;
    color: #023020;
}

#institution, #studyProgram, #ed-endDate, #ed-startDate {
    font-family: Perandory;
    color: #FFE9EB;
}

#education-title, #experience-title
{
    font-family: Sloop;
    color: #023020;
    font-size: 50px;
}

#resume-title {
    margin-top: 0;
    font-family: Perandory;
    color: #023020;
}
.nav-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #023020;
    font-family: Perandory;
    font-size: 20px;
    margin: 20px;
    border-right: 1px solid #ffffff;
    text-decoration: none;
}

.nav-btn:hover {
    color: #FFE9EB;
}

.nav-container {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit-ed-container, .submit-ex-container
{
    display: flex;
    flex-direction: row;
}
.input-ex, #add-ed, form{
    font-size: 50px;
    font-family: Sloop;
    display: flex;
    flex-direction: column;
}

.input-ex, .input-ed{
    margin-right: 50px;
}

label, #onGoing
{
    font-size: 30px;
    font-family: Sloop;
}

input[type="date"]:not(.has-value):before{
    color: darkgray;
    content: attr(placeholder);
}
input[type="text"], input[type="date"], #input-ex-description
{
    min-height: fit-content;
    min-width: fit-content;
    padding: 10px;
    color: lightpink;
    font-family: Perandory;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #023020;
    margin-bottom: 10px;
}

input[type="text"]::placeholder, #input-ex-description::placeholder{
    text-align: center;
}
#input-ex-description
{
    height: 100px;
}
#onGoing {
    color: lightpink;
}

#add-exform-btn, #hide-exform-btn, #submit-exform-btn, #del-ex-btn, #cancel-del-ex-btn {
    height: fit-content;
    border: 5px solid #023020;
    border-radius: 20px;
    font-size: 40px;
    font-family: Sloop;
    background-color: #FFE9EB;
    padding: 20px;
    margin: 10px;
}