@font-face {
    font-family: 'Perandory';
    src: url(PerandorySemiCondensed.otf);
}
@font-face {
    font-family: 'Sloop';
    src: url(Sloop-ScriptThree.ttf);
}

header, body {
    background-color: #023020;
}

main {
    background-color: #023020;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#website-title {
    color: #ffffff;
    font-family: Perandory;
    font-size: 190px;
    text-align: center;
    margin: 0;

    line-height: 85px;
}

#website-title2 {
    color: #ffc5d9;
    font-family: Sloop;
    font-size: 100px;
    line-height: 0px;
    text-align: center;
    margin: 0;
}

.nav-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    font-family: Perandory;
    font-size: 20px;
    margin: 20px;
    margin-right: 50px;
    border-right: 1px solid #ffffff;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    background-color: #ffffff;
    color: #023020;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}
footer {
    background-color: #023020;
    color: #ffffff;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.tag-row {
    display: flex;
    flex-direction: row;
}

#about {
    margin-top: 20px;
    margin-left: 20px; 
    margin-bottom: 0;
    font-family: Perandory;
    font-size: 70px;
    color: #023020;
}

#about2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    font-family: Sloop;
    font-size: 70px;
    color: #ffc5d9;
}
.about-me-text {
    font-size: 20px;
    font-family: Perandory;
    color: #023020;
    width: 50%;
    margin-left: 20px;
}
#contact {
    font-family: Perandory;
    font-size: 70px;
    color: #ffc5d9;
    margin-top: 20px;
    margin-left: 20px;
}

#contact2 {
    margin-top: 20px;
    margin-left: 20px;
    font-family: Sloop;
    font-size: 70px;
    color: #ffffff;
    margin: 0;
}

.contact-container {
    text-align: right;
}

.contact-btn {
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-family: Perandory;
    font-size: 20px;
    text-align: right;
    background-color: transparent;
    border-right: 1px solid #ffffff;
    margin-right: 50px;
}
